
.inputcenter{
    width: 345px;
    margin: auto;
    position: relative;
    margin-top: 50px;
    -moz-appearance: none;
    
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.imagecenter{
    width: 275px;
    margin: auto;
    position: relative;
    margin-top: 300px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    position: relative;
    bottom: 470px;
    
}
li{
    float: right;
    
}
li a{
    display: block;
    padding: 10px;
    text-align: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
footer{
    background-color: rgb(226, 222, 222);
    color: black;
    line-height: 1.5;
}
.container{
    flex: 1;
}
.footer-first{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.footer-first-item{
    padding: 50px;
    min-width: 12.5rem /*200px*/;
}






